[Unit]
Description=%N
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/local/bin/%N.sh start
ExecStop=/usr/bin/bash /usr/local/bin/%N.sh stop
RemainAfterExit=yes
KillMode=none

[Install]
WantedBy=default.target